<h2>Exercício 2</h2>
<div>
    <form>
        <div class="d-flex">
            <div class="me-4">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome" id="nome" required>
                </div>
                <div>
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
            </div>
            <div class="form-coluna">
                <label for="mensagem" class="form-label">Mensagem</label>
                <div class="form-floating container">
                    <textarea name="mensagem" class="form-control mensagem" id="mensagem" required></textarea>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
    <p class="resposta"></p>
</div>